[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-mdr = "*"
skrebate = "*"
scikit-learn = "*"
joblib = "*"
pandas_data_analytics = {editable = true, path = "."}
toml = "*"
pdpipe = "*"
pdpipewrench = "*"
numpy = "==1.19.3"
pandas = "*"
seaborn = "*"
scipy = "*"
nltk = "*"
xgboost = "==1.1.0"
pycaret = "*"
plotly = "*"
cufflinks = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
