[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-mdr = "*"
skrebate = "*"
scikit-learn = "*"
joblib = "*"
pandas_data_analytics = {editable = true, path = "."}
toml = "*"
pdpipe = "*"
pdpipewrench = "*"
numpy = "*"
pandas = "*"
python01 = {editable = true, path = "."}
seaborn = "*"
scipy = "*"
nltk = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
