[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-mdr = "*"
skrebate = "*"
scikit-learn = "*"
joblib = "*"
pandas_data_analytics = {editable = true, path = "."}
toml = "*"
pdpipe = "*"
numpy = "==1.19.3"
pandas = "*"
seaborn = "*"
scipy = "*"
nltk = "*"
xgboost = "==1.1.0"
plotly = "*"
cufflinks = "*"
py-linq = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
qtconsole = "*"
pyqt5 = "*"
pdfplumber = "*"
dask = {extras = ["complete"], version = "*"}

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
